body {
    background-color: rgb(247, 255, 251);
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}



ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    border: 2px solid;
    border-color: gray;
    border-radius: 15px;
    margin: 5px;
    padding: 15px;
}

div>ul>li>p {
    text-align: center;
    font-size: medium;
    font-weight: 800;
}